{
	auto_https off
	admin off
}

:8080 {
	log {
		output stdout
		format json
	}

	handle /healthz {
		rewrite * /tika
		reverse_proxy {$TIKA_URL} {
			transport http {
				dial_timeout 10s
				response_header_timeout 30s
			}
		}
	}

	handle {
		request_body {
			max_size 50MB
		}
		basic_auth {
			{$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
		}
		reverse_proxy {$TIKA_URL} {
			transport http {
				dial_timeout 10s
				response_header_timeout 300s
			}
		}
	}
}
